extends ./layout

block content
	.row
		h1.col-sm-8.col-sm-offset-1=title + ' : ' + user.name.full
		#message
		.col-sm-2
			ul.list-inline.pull-right
				li: button#changePass.btn.btn-warning.btn-lg(value='#{user._id}', title='Change password', data-toggle="modal", data-target="#passModal")
					span.glyphicon.glyphicon-lock
				li: button#editInfo.btn.btn-info.btn-lg(value='#{user._id}', title='Edit info', data-toggle="modal", data-target="#infoModal")
					span.glyphicon.glyphicon-pencil
	include _update_info
	include _change_password
	hr.col-sm-10.col-sm-offset-1
	.row
		.col-sm-3.col-sm-offset-2
			img.img-responsive.img-circle(src="/user/image/#{user._id}")
		.col-sm-3.col-sm-offset-2
			p
				strong Email: 
				| #{user.email}
			p
				strong Twitter: 
				| #{user.twitter}
			p
				strong Role: 
				| #{user.role}
			p
				strong Articles: 
				| #{user.articles.length}
			p
				strong Bio: 
				| #{user.bio}