<li>
  <div class="btn-group">
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1">
	    {{#if options.toolbar.fa}} 
	      <span class="fa fa-bold"></span>
	    {{else}}
	    	{{locale.emphasis.bold}}
	    {{/if}}
    </a>
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1">
	    {{#if options.toolbar.fa}} 
	      <span class="fa fa-italic"></span>
	    {{else}}
	    	{{locale.emphasis.italic}}
  	 {{/if}}
  	</a>
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1">
	    {{#if options.toolbar.fa}} 
	      <span class="fa fa-underline"></span>
	    {{else}}
	    	{{locale.emphasis.underline}}
  	 {{/if}}
  	</a>
    {{#if options.toolbar.emphasis.small}}
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="small" title="CTRL+S" tabindex="-1">{{locale.emphasis.small}}</a>
    {{/if}}
  </div>
</li>
