extends ../layout

block content
	.row
		h1.col-sm-4.col-sm-offset-1= title
		#message.col-sm-10.col-sm-offset-1
		include ./_add_user
		.col-sm-10.col-sm-offset-1#users
			table.table.table-hover
				thead
					tr
						th
						th Name
						th Email
						th Date Added
						th Admin
						th(colspan=4)
				tbody
					each user, i in userlist
						tr
							td
								img(src='/admin/userimage/#{user._id}')
							td #{user.name.full}
							td #{user.email}
							td #{moment(user.create_time).format("MM/DD/YY")}
							if user.admin
								td.text-center
									span.glyphicon.glyphicon-ok
							else
								td
							td
								button.btn.btn-info.btn-sm(value='#{user._id}', title='Edit info')
									span.glyphicon.glyphicon-pencil
							td
								button.btn.btn-warning.btn-sm.reset(value='#{user._id}', title='Reset password')
									span.glyphicon.glyphicon-lock
							td
								button.btn.btn-danger.btn-sm.remove(value='#{user._id}', title='Delete user')
									span.glyphicon.glyphicon-trash
