- var link = loggedIn ? "preview/" + article._id : "/mag/" + article.section + "/" + article._id
a(href=link)
	.article-img.text-center
		img.img-responsive.img-rounded(src="/util/articleimage/#{article._id}", alt="#{article.title}")
.caption
	h6=article.section
	h4 #{article.title} 
		if (article.status == 'draft')
			small  (#{article.status})
	p=article.subtitle
	if (articleauthors)
		p.byline By 
			case articleauthors[i].length
				when 1
					| #{articleauthors[i][0]}
				default
					- var last = authorlist.pop()
					| #{authorlist.split(', ')} &amp; #{last}
	- var date = new Date(article.update_time)
	p=date.toDateString()