a(href="mag/#{article.section}/#{article._id}") 
	.article-img.text-center
		img.img-responsive.img-rounded(src="/image/#{article._id}", alt="#{article.title}")
.caption
	h6=article.section
	h4=article.title
	p=article.subtitle
	- var date = new Date(article.update_time)
	time.timeago(datetime=date.toISOString())