extends index.jade
block content
	br
	.row
		.col-md-9
			if img
				.row
					.col-sm-8.col-sm-offset-1
						img.img-responsive(src="/util/articleimage/#{article._id}")
			.row
				h1.col-sm-11.col-sm-offset-1.storyTitle=title
				h2.col-sm-11.col-sm-offset-1.subhead
					small=article.subtitle
				p.hidden#id=article._id
			.row
				p.col-sm-4.col-sm-offset-1.byline By 
					case authorlist.length
						when 1
							| #{authorlist[0]}
						default
							- var last = authorlist.pop()
							| #{authorlist.join(', ')} &amp; #{last}
			.row
				.col-sm-11.col-sm-offset-1.story!=article.body
		.col-md-3#right