extends ./index.jade
block content
	.section-header.title
			h1
				span=title
	#stories
		.row
			.col-xs-12.col-md-8
				.row
					.col-md-12.featured
						a(href="#{urlsection}/#{featured._id}") 
							.thumbnail
								img.col-lg-8.img-responsive.img-rounded(src="/util/articleimage/#{featured._id}")
								.caption.col-lg-4
									h4 #{featured.title}
									p #{featured.subtitle}
									p.byline By 
										case featuredauthors.length
											when 1
												| #{featuredauthors[0]}
											default
												| #{featuredauthors.split(', ')}
									- var date = new Date(featured.update_time)
									p=date.toDateString()
				hr
				.row
					each article, i in articlelist
						.col-md-6.article-thumbnail
							a(href="#{urlsection}/#{article._id}")
								.thumbnail 
									img.img-responsive.img-rounded(src="/util/articleimage/#{article._id}")
									.caption.col-xs-12
										h4 #{article.title}
										p #{article.subtitle}
										p.byline By 
											case articleauthors[i].length
												when 1
													| #{articleauthors[i][0]}
												default
													| #{articleauthors[i].split(', ')}
										- var date = new Date(article.update_time)
										p=date.toDateString()
			.col-xs-12.col-md-4
				case title
					when 'Journey'
						img.img-responsive.img-rounded(src="/images/bloom.png", alt="Bloom")
					when 'Campus'
						img.img-responsive.img-rounded(src="/images/grayareas.png", alt="Gray Areas")
					when 'Life & Culture'
						img.img-responsive.img-rounded(src="/images/verainthecity.png", alt="Vera in the City")
				a(href="#{urlsection}/#{sidebar._id}") 
					.thumbnail
						.caption.col-xs-12
							p=sidebar.title
							p=sidebar.subtitle
							p.byline By 
								case sidebarauthors.length
									when 1
										| #{sidebarauthors[0]}
									default
										| #{sidebarauthors.split(', ')}
							- var date = new Date(sidebar.update_time)
							p=date.toDateString()
							.sidebar-blurb!=sidebar.body
							br
							p.text-primary Click to read more
