extends ../layout
block content
	.row
		h1.col-sm-4.col-sm-offset-1=title
		#message.col-sm-10.col-sm-offset-1
	.row
		include ./_add_user
		.visible-xs
			br
	.row
		.col-sm-10.col-sm-offset-1#users
			table.table.table-hover.table-responsive
				thead
					tr
						th.hidden-xs(colspan=2) Name
						th.visible-xs Name
						th Email
						th Role
						th.text-center Admin
						th(colspan=2)
				tbody
					each user, i in userlist
						tr
							td.hidden-xs
								img.img-circle(src="/util/image/#{user._id}", width="28px")
							td=user.name.full
							td=user.email
							td.role
								a.btn-link(title='Edit role')=user.role
								.input-group.hidden
									input.input-sm.form-control(value=user.role)
									span.input-group-btn
										button.btn.btn-sm.btn-success.confirm(value=user._id, title="Confirm")
											span.glyphicon.glyphicon-ok
										button.btn.btn-sm.btn-danger.cancel(title="Cancel")
											span.glyphicon.glyphicon-remove
							td.text-center
								.btn-group.check(data-toggle="buttons")
									if current._id.toString() == user._id.toString()
										if user.admin
											span.glyphicon.glyphicon-ok
									else
										if user.admin
											label.btn.btn-default.btn-sm.active
												input.demote(type="checkbox", autocomplete="off",  checked)
												span.glyphicon.glyphicon-ok
										else
											label.btn.btn-default.btn-sm
												input.promote(type="checkbox", autocomplete="off")
												span.glyphicon.glyphicon-ok
							td.text-center
								unless current._id.toString() == user._id.toString()
									button.btn.btn-warning.btn-sm.reset.has-spinner(title='Reset password')
										span.spinner
											i.icon-spin.icon-refresh
										span.glyphicon.glyphicon-lock
									button.btn.btn-success.btn-sm.reset-confirm(style='display:none', value=user._id, title="Confirm")
										span.glyphicon.glyphicon-ok
							td.text-center
								unless current._id.toString() == user._id.toString()
									button.btn.btn-danger.btn-sm.remove(title='Delete user')
										span.glyphicon.glyphicon-trash
									button.btn.btn-success.btn-sm.remove-confirm(style='display:none', value=user._id, title="Confirm")
										span.glyphicon.glyphicon-ok
