extends ./layout

block content
	.row
		h1.col-sm-8.col-sm-offset-1=title
		#message
	.row
		form#formUploadArticle.form-horizontal(enctype="multipart/form-data", name="article", method="post", action="/staff/submitarticle", role="form")
			if (article._id)
				input#edit(type="hidden", name="edit", value=article._id)
			.form-group
				label.control-label.col-sm-2(for="#title") Title
				.col-sm-8
					input#title.form-control(required, value=article.title, type="text", name="title")
			.form-group
				label.control-label.col-sm-2(for="#subtitle") Subtitle
				.col-sm-8
					input#subtitle.form-control(value=article.subtitle, type="text", name="subtitle")
			.form-group
				label.control-label.col-sm-2(for="#author") Author
				if (article.authors)
					each author in article.authors
						.col-sm-2
							select.form-control(name="author")
								each user, i in userlist
									if (author.toString() == user._id.toString())
										option(selected, value=user._id)=user.name.full
									else
										option(value=user._id)=user.name.full
				else
					.col-sm-2
						select.form-control(name="author")
							each user, i in userlist
								if (current._id.toString() == user._id.toString())
									option(selected, value=user._id)=user.name.full
								else
									option(value=user._id)=user.name.full
				.col-sm-2
					button.add.btn.btn-success(type="button", title="Add author")
						span.glyphicon.glyphicon-plus
			.form-group
				label.control-label.col-sm-2(for="#section") Section
				.col-sm-3
					select#section.form-control(required, name="section")
						option(disabled)
						option(selected=(article.section == 'Journey')) Journey
						option(selected=(article.section == 'Bloom')) Bloom
						option(selected=(article.section == 'Campus')) Campus
						option(selected=(article.section == 'Gray Areas')) Gray Areas
						option(selected=(article.section == 'Life & Culture')) Life &amp; Culture
						option(selected=(article.section == 'Vera in the City')) Vera in the City
			.form-group
				label.control-label.col-sm-2(for="#body") Body
				.col-sm-8
					textarea#body.form-control(name="body") #{article.body}
			.form-group
				label.control-label.col-sm-2(for="#tags") Tags
				.col-sm-4
					input#tags.form-control(required, value=article.tags, type="text", name="tags", placeholder="Separate each tag with a comma")
			.form-group
				if (article.img)
					label.control-label.col-sm-2(for='#uploadPic') Photo
					.col-sm-2
						p#imgName Image already uploaded
					.col-sm-1
						span.btn.btn-default.btn-file Change
							input#uploadPic(name='img', type='file')
				else
					label.control-label.col-sm-2(for='#uploadPic') Photo
					.col-sm-1
						span.btn.btn-default.btn-file Browse
							input#uploadPic(name='img', type='file')
					.col-sm-4
						p#imgName No file selected
			.form-group
				.col-sm-offset-2.col-sm-4
					button#submit.btn.btn-info(value="draft", name="draft", type="submit") Save Draft
					button#draft.btn.btn-primary(value="publish", name="publish", type="submit") Publish Now