extends ./layout

block content
	.row
		if img
			.col-sm-4.col-sm-offset-1
				img.img-responsive(src="/util/articleimage/#{article._id}")
		.col-sm-2.preview-btns
			a.btn.btn-primary(href="/staff/editarticle/#{article._id}") Edit
			a.btn.btn-info(href="/staff/allarticles") Back
	br
	.row
		h1.col-sm-8.col-sm-offset-1.storyTitle=title
		if article.subtitle
			h2.col-sm-8.col-sm-offset-1.subhead
				small=article.subtitle
	.row
		p.col-sm-2.col-sm-offset-1.byline By 
			case authorlist.length
				when 1
					| #{authorlist[0]}
				default
					| #{authorlist.split(', ')}
	.row
		.col-sm-8.col-sm-offset-1.story!=article.body